<div class="centered">
  <h1>Wejdź do gry!</h1>
  <hr>
  <form method="POST" action="{{ url_for('home') }}">
    <input name="nickname" type="text" required placeholder="Nickname" minlength="5">
    <button type="submit">Zagraj</button>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <div class="mt">
    {% if nicknames|length %}
      <h4>W grze</h4>
      {% for nickname in nicknames %}
        <div>{{ nickname }}</div>
      {% endfor %}
    {% else %}
      W grze: 0
    {% endif %}
    </div>
  </form>
</div>

<style>
  .centered {
    text-align: center;
    margin: 0 auto;
  }

  .error {
    color: #951b1b;
  }

  .mt {
    margin-top: 1rem;
  }
</style>
